@import "~modern-normalize/modern-normalize.css";

body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  background: #fff;
  color: #434455;
}

address {
  font-style: normal;
}

/* Header */
.logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.text-studio-logo {
  color: #2e2f42;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.navigation-item:hover,
.navigation-item:focus {
  color: #404bbf;
}
.navigation-item {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
}

.adress-item:hover,
.adress-item:focus {
  color: #404bbf;
}

.adress-item {
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
}

/* Main section */

.main-section {
  background: #2e2f42;
  flex-shrink: 0;
}

.title-main {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.btn-order-service {
  cursor: pointer;
  background: #4d5ae5;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  color: #ffffff;
}

.btn-order-service:hover,
:focus {
  background-color: #404bbf;
}

/* Section Chracteristics */

.title-chracteristics-section {
  color: transparent;
}

.title-chracteristics {
  color: #2e2f42;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.description-characteristic {
  color: #434455;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
}

/* Our team section */

.our-team-section {
  flex-shrink: 0;
  background: #f4f4fd;
  background-color: #f4f4fd;
}

.title-our-team {
  color: #2e2f42;
  font-family: Roboto, sans-serif;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.item-our-team-list {
  background-color: #ffffff;
}

.name-member-team {
  color: #2e2f42;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.position-member {
  color: #434455;
  /* text-align: center; */
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
}

/* Our portfolio section */
.title-our-portfolio {
  color: #2e2f42;
  font-family: Roboto, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.title-item-portfolio {
  color: #2e2f42;
  font-family: Roboto, sans-serif;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.description-item-portdolio {
  color: #434455;
  font-family: Roboto, sans-serif;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Footer */

.logo-footer {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.text-studio-logo-footer {
  color: #f4f4fd;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-section {
  background: #2e2f42;
}

.description-footer {
  color: #f4f4fd;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
}
